:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primari-white-color: #ffffff;
  --logo-nav-color: #000000;
  --button-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --hero-button-focus-color: #188ce8;
  --auth-nav-footer-color: rgba(255, 255, 255, 0.6);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--primari-white-color);
  color: var(--primari-text-color);
  margin: 0;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
/* logo */

.main-nav {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo {
  color: var(--logo-nav-color);

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  align-content: center;
}

.logo-web {
  color: var(--accent-color);
}

/* site-nav */

.site-nav {
  display: flex;
  align-content: center;
}

.site-nav-link {
  color: var(--logo-nav-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: none;

  align-items: center;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

.auth-nav.list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth-nav-link {
  color: var(--primari-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--hero-background-color);

  margin-top: 0;
  margin-bottom: 0;
  height: 600px;
  text-align: center;
}

.hero-container {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 30px;

  color: var(--primari-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.hero-button {
  color: var(--primari-white-color);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  width: 200px;
  height: 50px;
  margin-bottom: 200px;
  border-radius: 4px;
}

.hero-button:focus,
.hero-button:hover {
  color: var(--primari-white-color);
  background-color: var(--hero-button-focus-color);
}

/* section */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid #18e85d;
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.projects-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  font-size: 16px;
  line-height: 1.87;
}

.feature-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  padding-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.7px;
}

.title-el {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.title-el-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Button */
.button {
  color: var(--title-text-color);
  background-color: var(--button-background-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--primari-white-color);
  background-color: var(--accent-color);
}

/*  section footer */
.footer {
  background-color: var(--hero-background-color);
}

.address-footer {
}

.address {
  color: var(--primari-white-color);
}

.auth-nav-footer {
  color: var(--auth-nav-footer-color);
}

.auth-nav-footer:focus,
.auth-nav-footer:hover {
  color: var(--accent-color);
}

.auth-nav-footer,
.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
